<ion-view class="feeds-categories-view" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back" ui-sref="app.estado({id:{{id}}})"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Estados de recojo</span>
  </ion-nav-title>

  <ion-content overflow-scroll="false" padding="true" class="one-presentation">
    <form class="form-wrapper" name="formCarga" ng-submit="formCarga.$valid && guardar()">
      <div class="list">
        <div ng-repeat="opcion in opciones">
          <ion-radio ng-model="form.idestado_pedido_detalle" ng-value="{{opcion.idestado_pedido_detalle}}">
            {{opcion.nombre}}
          </ion-radio>
        </div>
      </div>

      <md-input-container class="md-block">
        <label>Observaciones</label>
        <input type="text" ng-model="form.observaciones">
      </md-input-container>

      <div class="buttons-wrapper">
        <md-button class="md-raised md-primary"
          style="display:block;min-height: 46px;padding-top: 5px;margin-bottom: 4px;"
          ng-disabled="!form.idestado_pedido_detalle || !formCarga.$valid || requestStatusUpdatePending"
          type="submit">
          Guardar {{ form.idestado_pedido_detalle }}
        </md-button>
        <md-button class="md-raised md-primary"
          style="display:block;min-height: 46px;padding-top: 5px;"
          ng-click="cancelar()">
          Cancelar
        </md-button>
      </div>
    </form>
  </ion-content>
</ion-view>