<ion-view class="feeds-categories-view" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back" ui-sref="app.estado({id:{{id}}})"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Estados de entrega</span>
  </ion-nav-title>

  <ion-content overflow-scroll="false" padding="true" class="one-presentation">
    <form class="form-wrapper" name="formDescarga" ng-submit="formDescarga.$valid && guardar()">
      <div class="list">
        <div ng-repeat="opcion in opciones">
          <ion-radio ng-model="formulario.estado" ng-value="{{opcion}}">
            {{opcion.nombre}}
          </ion-radio>
        </div>
      </div>

      <md-input-container class="md-block" ng-if="!formulario.estado.motivos_plantilla">
        <label>Observaciones</label>
        <input type="text" ng-model="formulario.observaciones" my-enter="hideKeyboard()">
      </md-input-container>

      <md-autocomplete
        ng-if="formulario.estado.motivos_plantilla"
        required=""
        md-input-name="autocompleteField"
        md-selected-item="selectedItem"
        md-search-text="searchText"
        md-items="item in querySearch(searchText)"
        md-selected-item-change="selectedItemChange(item)"
        md-item-text="item.motivo"
        md-min-length="0"
        md-require-match=""
        md-floating-label="Observaciones"
        input-aria-describedby="favoriteStateDescription">
        <md-item-template>
          <span md-highlight-text="searchText">{{item.motivo}}</span>
        </md-item-template>

        <div class="hint" ng-if="!formDescarga.autocompleteField.$touched">El estado seleccionado requiere observaciones.</div>

        <div ng-messages="formDescarga.autocompleteField.$error">
          <div ng-message="required">Debe ingresar observaciones.</div>
          <div ng-message="md-require-match">Por favor ingrese una observación recomendada.</div>
          <div ng-message="minlength"></div>
        </div>
      </md-autocomplete>

      <div class="buttons-wrapper">
        <md-button class="md-raised md-primary"
          style="display:block;min-height: 46px;padding-top: 5px;margin-bottom: 4px;"
          ng-disabled="!formulario.estado || !formDescarga.$valid || requestStatusUpdatePending"
          type="submit">
          Guardar
      </md-button>
        <md-button class="md-raised md-primary"
          style="display:block;min-height: 46px;padding-top: 5px;"
          ng-click="cancelar()">
          Cancelar
      </md-button>
      </div>
    </div>
  </ion-content>
</ion-view>