<!--<ion-view class="feeds-categories-view" hide-back-button="true">
    <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back" ui-sref="app.envios"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Estado de Viaje</span>
  </ion-nav-title>
  <ion-content>
  <style>
.row, .scroll {
  height: 100%;
}
</style>
<div class="row row-center">
      <div class="col">
      <div class="text-center">
        <img ng-src="img/logo.png" width="25%"><br/><br/>
      </div>
        <md-button class="md-raised md-primary" style="width:96%" ng-click="ida()" ng-disabled="boton_viaje!='ida'">
          <span style="color:white">Iniciar viaje de ida</span>
        </md-button>  
        <md-button class="md-raised md-primary" style="width:96%" ng-click="retorno()" ng-disabled="boton_viaje!='retorno'">
          <span style="color:white">Iniciar viaje de retorno</span>
        </md-button>                   
        <md-button class="md-raised md-primary" style="width:96%" ng-click="finalizar()" ng-disabled="boton_viaje!='finalizado'">
          <span style="color:white">Finalizar viaje</span>
        </md-button>                        
      </div>
    </div>
  </ion-content>
</ion-view>-->
<ion-view class="feeds-categories-view" hide-back-button="true">
    <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back" ui-sref="app.envios"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Estado de Envío</span>
  </ion-nav-title>

  <ion-content overflow-scroll="false" padding="true" >
<div class="list" style="    height: 100vh;padding:0px;">
<ion-radio ng-model="data.choice" ng-value="'ida'" ng-disabled="data.ida" style="border-left:none;border-right:none;margin-top: 14px;border-color: #f1f1f1;">Iniciar envío</ion-radio>
<!-- <ion-radio ng-model="data.choice" ng-value="'retorno'" ng-disabled="data.retorno" style="border-left:none;border-right:none;border-color: #f1f1f1;">Iniciar viaje de retorno</ion-radio> -->
<ion-radio ng-model="data.choice" ng-value="'finalizar'" ng-disabled="data.fin" style="border-left:none;border-right:none;border-color: #f1f1f1;">Finalizar envío</ion-radio>


<div style="    position: absolute;
    bottom: 80px;
    width: 100%;">
        <md-button class="md-raised md-primary" style="
    width: 96%;
    margin-top: 32%;
    height: 46px;" ng-click="guardar()" ng-disabled="data.choice==''">

          <span style="color:white">Guardar</span>
        </md-button> 
        <a class="md-button md-raised md-primary" style="
    display: block;
    height: 46px;
    padding-top: 7px;
    width: 96%;" ng-click="cancelar()">
          Cancelar
        </a> 
</div>

</div>    
  </ion-content>
</ion-view>
