md-input-container input[type=color], md-input-container input[type=date], md-input-container input[type=datetime-local], md-input-container input[type=datetime], md-input-container input[type=email], md-input-container input[type=month], md-input-container input[type=number], md-input-container input[type=password], md-input-container input[type=search], md-input-container input[type=tel], md-input-container input[type=text], md-input-container input[type=time], md-input-container input[type=url], md-input-container input[type=week], md-input-container textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    color: rgba(0,0,0,0.87);
    border-color: rgba(0,0,0,0.12);
}

.hint {
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 5px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: grey;
}

.one-presentation > div:first-child {
    height: 100%;
    min-height: 100%;
}

form.form-wrapper {
    height: inherit;
    min-height: inherit;
    position: relative;
}

form.form-wrapper .list {
    margin-bottom: 8px
}

form.form-wrapper .list + .md-block {
    margin-top: 26px;
}

form.form-wrapper .buttons-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

form.form-wrapper .buttons-wrapper .md-button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.keyboard-open form.form-wrapper .buttons-wrapper {
    display: none;
}